<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Zach's API</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="https://static.zachlagden.uk/zlapi%2Flogo.png"
      type="image/x-icon"
    />
  </head>
  <body class="bg-white flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-5xl font-bold text-gray-800 mb-6">
        Welcome to Zach's API
      </h1>
      <p class="text-lg text-gray-600 mb-8">
        My personal API that some of my projects use.<br />Some endpoints are
        free to use, some require an API key. <br />You can
        <a href="mailto:zach@zachlagden.uk"><u>get in contact</u></a> to request
        an API key.
      </p>
      <div class="space-x-4">
        <a
          href="/docs"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          API Documentation
        </a>
        <a
          href="https://github.com/zachlagden/api.zachlagden.uk"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          target="_blank"
        >
          Github
        </a>
      </div>
    </div>
  </body>
</html>
